body {
  background: var(--off-white);
  font-family: var(--main-font);
}

.page-wrap {
  display: flex;
  flex-direction: row;
}

header {
  position: sticky;
  top: 0;
}

.nav-bar {
  background-color: var(--accent-color-green);
  border-bottom: 2px solid var(--off-white);
  display: flex;
  height: 50px;
}
.nav-bar__wrap {
  display: flex;
  flex-direction: row;
}
.nav-bar__title {
  color: var(--white);
  font-size: 3rem;
  font-weight: 400;
  margin: 4px 10px 10px 10px;
}
.nav-bar__img {
  margin-top: 3px;
  height: 40px;
}

.input {
  margin: 10px;
  margin-top: 23px;
}
.input__wrap {
  align-items: center;
  display: flex;
  justify-content: center;
}
.input__search {
  border: 1px solid var(--accent-color-green);
  border-radius: 5px;
  color: var(--off-black);
  font-size: 2rem;
  padding: 10px;
  width: 450px;
}

.food-list {
  max-width: 600px;
}

.food-item {
  align-items: center;
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.192);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
.food-item__wrap {
  margin: 30px;
  padding: 20px;
}
.food-item__img {
  border-radius: 7px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
}
.food-item__title {
  font-family: var(--main-font);
  font-size: 2.5rem;
  margin: 10px;
}
.food-item__btn {
  background-color: var(--off-white);
  border: 1px solid var(--accent-color-green);
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 1.6rem;
  padding: 10px;
}
.food-item__btn:hover {
  cursor: pointer;
}

.food-detail {
  align-items: center;
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.192);
  display: flex;
  flex-direction: column;
  width: 70%;
}
.food-detail__wrap {
  margin: 30px;
  padding: 20px;
}
.food-detail__preview {
  display: flex;
  flex-direction: column;
}
.food-detail__title {
  font-family: var(--main-font);
  font-size: 3rem;
  margin: 10px;
  text-align: center;
}
.food-detail__img {
  border-radius: 7px;
  height: 330px;
  margin: auto;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 550px;
}
.food-detail__short-info {
  text-align: center;
}
.food-detail__readyIn {
  font-size: 3rem;
  margin: 10px;
}
.food-detail__dish-type {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  margin: auto;
}
.food-detail__info {
  display: flex;
  justify-content: center;
}
.food-detail__ingredients {
  border-radius: 7px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.192);
  font-size: 1.6rem;
  margin: 35px;
  text-align: center;
}
.food-detail__ingredients--title {
  margin: 20px;
  text-align: center;
  text-decoration: underline;
}
.food-detail__instructions {
  margin-top: 25px;
  margin-right: 10px;
}
.food-detail__instructions--title {
  font-size: 2.5rem;
  margin: 30px 20px 20px 20px;
}
.food-detail__instructions--steps {
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: justify;
  margin: 10px;
}

.food-item-list {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  margin: 20px;
  width: 240px;
}
.food-item-list__item {
  margin-top: 30px;
}
.food-item-list__img {
  height: 50px;
}
.food-item-list__name {
  font-size: 1.7rem;
  text-decoration: underline;
}
.food-item-list__amount {
  font-style: italic;
  font-weight: 400;
}
.food-item-list__unit {
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */